{% extends "base.html" %} {% block content %}
<div class="container blog-container">
  <div class="row" style="margin-bottom: 20px">
    <div class="col">
      <a class="btn btn-danger" href="{% url 'create' %}">Add Article</a>
    </div>
  </div>
  <div class="row">
    {% for blog in blog_lists %}
    <div class="col-sm-6 {% if not blog.publish_date %} bg-warning text-dark {% endif %}"  style="margin-top:3rem">
      <div class="card" >
        {% if blog.post_image %}
        <img class="card-img-top" src="{{ blog.post_image.url }}" alt="cover image for {{ blog.title }}">
        {% endif %}
        <div class="card-body">
          <h2 class="card-title">{{ blog.title }}</h2>
          <p>
            Written by: <span>{{ blog.user }}</span> | created on {{ blog.publish_date }}
          </p>
          <p class="card-text">
            {{blog.content | linebreaks | truncatewords:30 }}
          </p>
          <a href="{{ blog.get_absolute_url }}" class="btn btn-primary"
            >Read More...</a
          >
          {% if not blog.publish_date %}
          <small class="muted"></small>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %} {% block footer %} {{ block.super }} {% endblock %}
