{% extends "base.html" %} {% block content %}
<div class="container blog-container">
  <div class="row">
    <div class="col-md-7">
      <h1>{{ page_title }}</h1>
      {% if blog_form.errors %}
      <div class="alert alert-danger">
        <strong>Error(s):</strong>
        {{ blog_form.errors }}
      </div>
      {% endif %}

      <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
        {% csrf_token %} {{form.as_p}}
        <input
          type="submit"
          class="btn btn-primary"
          name="submit"
          value="Send"
        />
      </form>
    </div>
  </div>
</div>
{% endblock content %}
