body{
    margin:0;
    padding:0;
}
header{
    background: #25408F;
}
header .site-logo{
    display: flex;
    align-items: center;
    justify-content: left;
}
.site-logo img{
    max-width: 299px;
}
.search-nav{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top:7rem;
}
.search-nav input[type='search']{
    padding:0px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.62;
}
.search-nav button[type='button']{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    color:#fff;
    background-color: #0C0587;
}